

.aboutInfo {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: red;
}

.aboutMe {
 text-decoration: underline;
}

.name {

}

.email {

}

.bio {
display: flex;
align-items: center;
justify-content: left;
background-color: red;
}